<!DOCTYPE html>
<html>
<body>
<div id="container" style="width:1366px;">


<table width="1280" height="786"  border="0" cellpadding="0" cellspacing="0" background="http://beautifullinux.com/web/wallpaper/PCLinuxOSGNOME2.21.2/images/SunergosGreyWallpaper-0.0.1.png">
<tr  >
<td valign="top">
<div align="center">
<table width="500" height="20" border="0" cellpadding="0" cellspacing="0" style="margin-top:2px">
<tr>
<td><div align="center"><font color="#880000" size="2" face="Arial, Helvetica, sans-serif">HOME</font></div></td>
<td><div align="center"><a href="artists" target="content"><font color="#880000" size="2" face="Arial, Helvetica, sans-serif"><strong>Calculater</strong></font></a></div></td>
<td><div align="center"><a href="images" target="content"><strong><font color="#880000" size="2" face="Arial, Helvetica, sans-serif">Bilder</font></strong></a></div></td>
<td><div align="center"><a href="http://www.ceviin.de.tl" target="content"><font color="#880000" size="2" face="Arial, Helvetica, sans-serif"><strong>CevinDesign</strong></font></a></div></td>
</tr>
</table>

<div id="header" style="background-color:#FFA500;">
<h1 style="margin-bottom:2; text-align:center;">Calculate!</h1></div>



<div id="content" style="background-color:#FFA300;height:600px;width:1366px;float:center; text-align:center ;">
Calculater come here !<br> 

<form name="input" action="" method="get">
Operator !: <input type="text" name="operator" value=""><br>
Number 1: <input type="text" name="number1" value="">

<br>
Number 2: <input type="text" name="number2" value=""><br>
<input type="submit" value="Submit"><br>

<p> Result : <%= @result %> </p>

</form> 


<p style="margin-bottom:0;  background-color:#FAF375; height:45px;width:50px;float:center;"> by cevin </p>


 

 </div>

