<!-- Das Spiel Start screen -->
<!DOCTYPE html>

<link rel="stylesheet" href="css/bildbox.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/bildbox.js"></script>



	
<html>																				
<body>

<div id="container" style="width:1260px  ">

<div id="header" style="background-color:#FFA501;">
<h1 style=" text-align:center;  margin-bottom:0;">Titel Leer</h1></div>

<div id="menu" style="background-color:#FFD700;height:200px;width:1260px;float:center; text-align:center; ">
<b>leer</b><br>


<div id="content" style=  " text-align:center; float:center; background-image:url(http://s14.directupload.net/images/121028/omvankju.jpg);padding:5px;width:1260px;height:650px;border:1px solid black; ">
Leer</div>

<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">

	<table  width="1260px" border="1" cellspacing="0" cellpadding="0">
	<tr>
	<td height="20"><MARQUEE BEHAVIOR=ALTERNATE >  <h1>Digger das Spiel ! ! !</h1>  </MARQUEE>
	 </td>
	</tr>
	</table>





</div>


<a  style="width:200px;heigth:100px;" href="../spiel" onmouseover="document.images.start.src='http://s1.directupload.net/images/121028/vxnunrte.png'" onmouseout="document.images.start.src='http://s14.directupload.net/images/121028/w75ibdd3.png'">
<img src="http://s14.directupload.net/images/121028/w75ibdd3.png" name="start"  alt="Home Button" style = "position: absolute; top: 368px; left: 495px;  width:200px;heigth:100px;"></img>
</a>

<br>



<a style=" position: absolute; top: 472px; left: 495px;" href="http://s1.directupload.net/images/121028/jccvbsjv.jpg" rel="lightbox[Galerie]" title="Anleitung" onmouseover="document.images.bild2.src='http://s14.directupload.net/images/121028/dw4pjo6m.png '" onmouseout="document.images.bild2.src='http://s7.directupload.net/images/121028/jttyyhs8.png'">
<img src="http://s7.directupload.net/images/121028/jttyyhs8.png" onmouseout="document.images.bild2.src='http://s7.directupload.net/images/121028/jttyyhs8.png'" name="bild2" width="200" height="50" alt="Bild1" /> 
</a>

<a style=" position: absolute; top: 580px; left: 495px;" href="http://s14.directupload.net/images/121028/zlbb43k5.jpg" rel="lightbox[Galerie]" title="Impressum" onmouseover="document.images.bild3.src='http://s7.directupload.net/images/121028/crbv86e9.png'" onmouseout="document.images.bild3.src='http://s14.directupload.net/images/121028/9v2uhvpx.png'">
<img src="http://s14.directupload.net/images/121028/9v2uhvpx.png" onmouseout="document.images.bild3.src='http://s14.directupload.net/images/121028/9v2uhvpx.png'" name="bild3" width="200" height="50" alt="Bild1" /> 
</a>





</body>
</html>



