<!-- Das Spiel -->
<!DOCTYPE html>


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/screen.css" rel="stylesheet" type="text/css" media="screen" />
<html>
<body>	
	
	

     


	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>

	<script type="text/javascript">
	$(function() {
	    $(".drag-image").draggable();
	});
	</script>
	</head>
	
	
	<div id="content" style="background-color:#AAA900;height:1000px;width:400px;float:right;">
	  Karte(n) hier ablegen</div>
	
	
<div>
<div id="menu" style="background-color:#FFC700;height:1000px;width:1980px;float:center; text-align:center; ">

          <% nr = 1 %>
          <table>
	
    <% @cards.in_groups_of(8, false) do |cards| %>
	<tr>
		<td colspan="8">Player <%= nr %></td>
		<% nr = nr + 1 %>
		
	</tr>
    <tr>
      <% cards.each do |cards| %>
      <td><%= image_tag(cards, :class => "drag-image") %></td>
      <% end %>     
    </tr>
    <% end %>
</table>






</div>
</body>
</html>



