<!-- Image -->
<!DOCTYPE html>


<link rel="stylesheet" href="css/bildbox.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/bildbox.js"></script>





<html>
<body>



<table width="1280" height="786"  border="0" cellpadding="0" cellspacing="0" background="http://beautifullinux.com/web/wallpaper/PCLinuxOSGNOME2.21.2/images/SunergosGreyWallpaper-0.0.1.png">
<tr  >
<td valign="top">
<div align="center">
<table width="500" height="20" border="0" cellpadding="0" cellspacing="0" style="margin-top:2px">
<tr>
<td><div align="center"><font color="#880000" size="2" face="Arial, Helvetica, sans-serif">HOME</font></div></td>
<td><div align="center"><a href="artists" target="content"><font color="#880000" size="2" face="Arial, Helvetica, sans-serif"><strong>Calculater</strong></font></a></div></td>
<td><div align="center"><a href="images" target="content"><strong><font color="#880000" size="2" face="Arial, Helvetica, sans-serif">Bilder</font></strong></a></div></td>
<td><div align="center"><a href="http://www.ceviin.de.tl" target="content"><font color="#880000" size="2" face="Arial, Helvetica, sans-serif"><strong>CevinDesign</strong></font></a></div></td>
</tr>
</table>



<div id="container" style="width:1366px;">

<div id="header" style="background-color:#FFA500;">
<h1 style="margin-bottom:2; text-align:center;">Images</h1></div>
<div id="container" style="background-color:#FFA800; width:1366px; height:1300px; margin-buttom:5;">

<a href="../bilder" onmouseover="document.images.bild.src='http://sphotos-c.ak.fbcdn.net/hphotos-ak-ash3/551569_269709479803897_1414691468_n.jp'" onmouseout="document.images.bild.src='http://sphotos-f.ak.fbcdn.net/hphotos-ak-prn1/625575_274013702700098_215016095_n.jpg'">
<img src="http://sphotos-g.ak.fbcdn.net/hphotos-ak-ash4/293429_278072412294227_1142287661_n.jpg" name="bild"  alt="Home Button" style = "width:200px;heigth:200px;"></img>
</a>

<br>
<br>

<table width="200px" border="1" cellspacing="0" cellpadding="0">
<tr>
<td height="20"><MARQUEE BEHAVIOR=ALTERNATE >  <h6>  Mit Maus über's Bild fahren  </h6>  </MARQUEE>
<MARQUEE  SCROLLDELAY=200px>  Mit Maus über's Bild fahren
 </td>
</tr>
</table>            





</div>




 


